@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .display-time::before {
        content: attr(data-time);
        @apply text-sm;
    }
}

.tezign-player-caption_container p {
    margin-bottom: 0 !important;
}

* {
  font-smooth: antialiased;
}